# Prueba de Friedman

### Objeto

Comparar 3 o más muestras para determinar si en el al menos en alguna existen diferencias significativas.
No indica en cual de la o las muestras existe tales diferencia. Se aplica Wilcozon por pares para determinar donde se encuentran la diferencia.

Restricciones:
* La distribución es **NO paramétrica**
* Los grupos son **No son independientes**
    * Relacionadas
    * Repetidas
    * Pareadas

Ho: No hay diferencia significativa;

H1: Hay diferencia

<a href="https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.friedmanchisquare.html?highlight=friedmanchisquare#scipy.stats.friedmanchisquare">Scypy Friedman</a>

## 0.Preparación librerias y definición de fórmulas#

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import friedmanchisquare
from scipy.stats import wilcoxon
import warnings
warnings.filterwarnings("ignore")

In [4]:
#Comprobación de Ho

def checkho(p_value_thresh, p_value):
    print("Para un p_value=",p_value)
    if p_value < p_value_thresh:
        print('Se rechaza la hipótesis nula, podemos asumir diferencias significativas')
    else:
        print('Se acepta la hipótesis nula, no podemos asumir diferencias significativas')

In [161]:
#Calculo factorial
def factorial(n):
    if n<=1:
        return 1
    return n*factorial(n-1)

In [159]:
# Bonferroni:
def bonf (n):
    B =factorial(n)/(factorial(2)*factorial(n-2))
    return B

## 1.Preanalisis de los datos

In [2]:
file = './Datos/wine.csv'

In [3]:
# Carga de datos
df_data=pd.read_csv(file)

In [6]:

print(df_data.info())
df_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
Judge            10 non-null float64
pinecreek        10 non-null float64
saintjude        10 non-null float64
northnapa        10 non-null float64
sevenwinds       10 non-null float64
eternalvalley    10 non-null float64
dtypes: float64(6)
memory usage: 560.0 bytes
None

   Judge  pinecreek  saintjude  northnapa  sevenwinds  eternalvalley
0    1.0        6.0        3.0        3.0         5.0            3.0
1    2.0        7.0        4.0        4.0         4.0            4.0
2    3.0        6.0        5.0        4.0         5.0            3.0
3    4.0        7.0        3.0        2.0         4.0            2.0
4    5.0        5.0        4.0        3.0         4.0            4.0

 ## 2.Comparando todo los grupos con Firedman¶

In [8]:

stat, p = friedmanchisquare(df_data.pinecreek, df_data.saintjude, df_data.northnapa, df_data.sevenwinds, df_data.eternalvalley)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpretación
alpha = 0.05
if p > alpha:
	print('No rechazamos H0: No hay diferencias significativas entre los grupos.')
else:
	print('Rechazamos H0: Hay diferencias significativas entre los grupos.')

Statistics=29.893, p=0.000
Rechazamos H0: Hay diferencias significativas entre los grupos.